<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a
              href="#"
              [routerLink]="['/dashboard']"
              routerLinkActive="router-link-active"
              >Inicio</a
            >
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Ajustes
          </li>
        </ol>
      </nav>

      <div class="row">
        <div class="col-sm-12 col-md-6">
            <div class="card card-stats card-round">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-users text-primary"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Usuarios</p>
                                <h4 class="card-title">223</h4>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="col-sm-12 col-md-6">
            <div class="card card-stats card-round">
                <div class="card-body ">
                    <div class="row">
                        <div class="col-5">
                            <div class="icon-big text-center">
                                <i class="flaticon-pencil text-warning"></i>
                            </div>
                        </div>
                        <div class="col-7 col-stats">
                            <div class="numbers">
                                <p class="card-category">Catalogo</p>
                                
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
      </div>

</div>

