<div class="container mb-4 mt-1">
  <div class="row">
    <div class="col-md-8 col-12">
      <div class="row">
        <div class="col-12">
          <div class="card card-dark bg-primary-gradient ">
            <div class="card-body pb-0">
              <p class=" mb-2 text-center">Pendientes</p>
              <h2 class=" text-center">20</h2>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="card card-dark bg-primary-gradient ">
            <div class="card-body pb-0">
              <p class=" mb-2 text-center">Atrasados</p>
              <h2 class=" text-center">2</h2>
            </div>
          </div>
        </div>
        <div class="col-md-6 col-12">
          <div class="card card-dark bg-primary-gradient ">
            <div class="card-body pb-0">
              <p class=" mb-2 text-center">En tiempo</p>
              <h2 class=" text-center">18</h2>
            </div>
          </div>
        </div>

        <div class="col-md-12">
          <div class="card">
            <div class="card-header">
              <div class="card-head-row">
                <div class="card-title">User Statistics</div>
              </div>
            </div>
            <div class="card-body">
              <div class="chart-container" style="min-height: 375px">
                <canvas id="statisticsChart"></canvas>
              </div>
              <div id="myChartLegend"></div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <div class="col-md-4 col-12">
      <div class="row">
        <div class="col-12">
          <div class="col-12">
            <div class="card card-dark bg-primary-gradient ">
              <div class="card-body pb-0">
                <p class=" mb-2 text-center">Aceptados</p>
                <h2 class=" text-center">35</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="col-12">
            <div class="card card-dark bg-primary-gradient ">
              <div class="card-body pb-0">
                <p class=" mb-2 text-center">Rechazados</p>
                <h2 class=" text-center">10</h2>
              </div>
            </div>
          </div>
        </div>
        <div class="col-12">
          <div class="col-12">
            <div class="card card-dark bg-primary-gradient ">
              <div class="card-body pb-0">
                <p class=" mb-2 text-center">Completos</p>
                <h2 class=" text-center">15</h2>
              </div>
            </div>
          </div>
          <div class="col-md-12 col-12">
            <div class="card">
              <div class="card-body pb-0">
                <p class=" mb-2 text-center">Promedio ticket completo</p>
                <h2 class=" text-center">72 Hrs</h2>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </div>
</div>
