<div class="container mt-2">
    <nav aria-label="breadcrumb">
        <ol class="breadcrumb">
          <li class="breadcrumb-item">
            <a
              href="#"
              [routerLink]="['/dashboard']"
              routerLinkActive="router-link-active"
              >Inicio</a
            >
          </li>
          <li class="breadcrumb-item active" aria-current="page">
            Informes
          </li>
        </ol>
      </nav>

      <div class="row justify-content-md-center">
          <div class="col-md-8">
            <button type="button" class="btn btn-light text-left text-dark btn-lg btn-block">
                <i class="fas fa-copy"></i> Solicitudes levantadas</button>
            <button type="button" class="btn btn-light text-left text-dark btn-lg btn-block">
                <i class="fas fa-bars"></i> Solicitudes de exhibición</button>
            <button type="button" class="btn btn-light text-left text-dark btn-lg btn-block">
                <i class="fas fa-brain"></i> Solicitudes de capacitación</button>
            <button type="button" class="btn btn-light text-left text-dark btn-lg btn-block">
                <i class="fas fa-cogs"></i> Solicitudes de mantenimiento</button>
            <button type="button" class="btn btn-light text-left text-dark btn-lg btn-block">
                <i class="fas fa-images"></i> Solicitudes de imagen</button>
            <button type="button" class="btn btn-light text-left text-dark btn-lg btn-block">
                <i class="fas fa-check"></i> Solicitudes de activación</button>
            <button type="button" class="btn btn-light text-left text-dark btn-lg btn-block">
                <i class="far fa-calendar-times"></i> Solicitudes de Back Order</button>

          </div>
      </div>

</div>
